main.normal {
    width: 80%;
    opacity: 1;
}

main.mini {
    width: 10%;
    opacity: .2;
}

@media (min-width: 768px) {
    main.normal {
        width: 100%;
        opacity: .3;
    }
    
    main.mini {
        width: 100%;
        opacity: 1;
    }
}
